%aside.aside
  = render partial: 'modules/aside'

%main.main
  %section.main__header
    .main__header__description
      %h2.group-name
        = @group.name
      .members
        %p Members:
        - @current_group_users.each do |user|
          %span.members__user
            = user.name
    / END header__description
    .main__header__edit
      = link_to 'Edit', edit_group_path(@group.id), class: 'header__edit--btn'
    / END haeder__edit
  / END main__header

  %section.main__body
    %ul.main__body__chat-wrap
      - if @messages
        - @messages.each do |message|
          %li.chat-box
            .chat-box__user
              %p.chat-box__user--name
                = message.user.name
              %span.chat-box__user--time
                = message.created_at
            %p.chat-box__message
              - if message.message?
                = message.message
              - else
                .chat-box__message__alert-font
            = image_tag message.image.url if message.image?

  = render partial: 'modules/main'
