%section.main__footer
  = form_for [@group, @message] do |f|
    .footer__form
      = f.text_field :message, class: 'message-box', placeholder: 'type a message'
      = f.label :image do
        = f.file_field :image, class: 'hidden'
        = fa_icon 'image lg', class: 'photo-icon'
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :group_id, value: @group.id
    .message-submit
      = f.submit 'Send', class: 'submit-btn'
  / END main__footer
