/ %section.main__body
/   %ul.main__body__chat-wrap
/     %li.chat-box
/       .chat-box__user
/         %p.chat-box__user--name tatsuya
/         %span.chat-box__user--time 2018/04/11 20:00:05
/       %p.chat-box__message チャット書き込み
/     %li.chat-box
/       .chat-box__user
/         %p.chat-box__user--name tatsuya
/         %span.chat-box__user--time 2018/04/11 20:00:05
/       %p.chat-box__message チャット書き込み
/ END main__chatBody
%section.main__footer
  = form_for [@group, @message] do |f|
    .footer__form
      = f.text_field :message, class: 'message-box', placeholder: 'type a message', required: true
      = f.label :image do
        = f.file_field :image, class: 'hidden'
        = fa_icon 'image lg', class: 'photo-icon'
    .message-submit
      = f.submit 'Send', class: 'submit-btn'
  / END main__footer
